{% extends "layout.html" %} {% block main_content %}
<section class="habit-list">
  {% for habit in habits %} {% set completed = habit["_id"] in completions %} {%
  if completed %}
  <div class="habit completed">
    <p class="habit__name">{{ habit["name"] }}</p>
    <svg
      class="habit__icon"
      xmlns="http://www.w3.org/2000/svg"
      width="512"
      height="512"
      viewBox="0 0 512 512"
    >
      <title>ionicons-v5-e</title>
      <path
        d="M256,48C141.31,48,48,141.31,48,256s93.31,208,208,208,208-93.31,208-208S370.69,48,256,48ZM218,360.38,137.4,270.81l23.79-21.41,56,62.22L350,153.46,374.54,174Z"
      />
    </svg>
  </div>
  {% else %}
  <div class="habit">
    <form
      method="POST"
      class="habit__form"
      action="{{ url_for('habits.complete') }}"
    >
      <input
        type="hidden"
        id="habitId"
        name="habitId"
        value="{{ habit['_id'] }}"
      />
      <input type="hidden" id="date" name="date" value="{{ selected_date }}" />
      <button type="submit" class="habit__button">{{ habit["name"] }}</button>
    </form>
  </div>
  {% endif %} {% endfor %}
</section>
{% endblock %}
